<ion-header [translucent]="true">
  <ion-toolbar clear color="primary" >
    <ion-title>
     {{'Añadir Nota' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<br>
<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" 
      formControlName="title"
      placeholder="title"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-textarea 
      formControlName="description"
      placeholder="Description"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <br>
      <ion-button 
      shape="round"
      color="primary"
      fill="outline"
      type="submit"
      [disabled]="!tasks.valid">{{'Añadir' | translate}}</ion-button>
  </div>
  </form>
</ion-content>