
  <ion-menu side="end" type="push" content-id="main"></ion-menu>
  <ion-header style="border-collapse: collapse;"   [translucent]="false" >
    <ion-toolbar clear color="primary" >
      <ion-title >
        
      {{'Mis Notas' | translate}}
      </ion-title>
    
    
    </ion-toolbar>
    <ion-searchbar   (ionChange)="Buscar($event)"  debounce="1000"></ion-searchbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" style="background-color: lightblue;">
    <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
     
      <ion-refresher-content
      pulling-icon="null"
      pulling-text="Cargando Notas"
      refreshing-spinner="null"
      refreshing-text="Refreshing...">
    </ion-refresher-content>
    </ion-refresher>
    
     <ion-list  >
       <ion-item-sliding *ngFor="let nota of this.listaNotas | filtro:textoBuscar ; let i=index  ">
         <ion-item-options side="start">
          <ion-item-option color="danger" (click)="presentAlertConfirmDelete(nota.id)" expandable 
          >
            <ion-icon name="trash" style="font-size: x-large;" 
            ></ion-icon>
          </ion-item-option>
         </ion-item-options>
    
        <ion-item clear color="medium" >
      
          <ion-label    (click)="this.infoNota(nota)">
          
            <div style=" display: inline;">
             
         <h2><div style=" font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger; ">  <div style="color:gray">   {{    nota.titulo}}</div></div> <div style="color:rgb(179, 184, 189); float:right ; font-style: initial; "> <ion-icon name="paper-plane-outline"></ion-icon>.{{i+1}}</div></h2>
        </div>
          
          </ion-label>
          
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="primary" 
          (click)="this.editaNota(nota)">
            <ion-icon name="pencil" style="font-size: x-large;"></ion-icon>
          </ion-item-option>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>
 
 
  </ion-content>