<ion-header [translucent]="true">
  <ion-toolbar clear color="primary">
    <ion-title>
     {{' Mi Perfil'  | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title  size="large">{{'Mi Perfil' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header  clear color="light" >
   
      <ion-card-title>{{user.name}}</ion-card-title>
      <br>
      <ion-content>
        <!-- fab placed to the top end -->
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="presentAlertFotos()">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
      <ion-avatar >
        <img  src={{user.avatar}}  >
     <!--  <img *ngIf="image" src={{user.avatar}} -->
      </ion-avatar>

    <br>    <br> 
  
    </ion-card-header>
  
   
  </ion-card>
  
  <ion-card clear color="light">
    <ion-item clear color="light">
      <ion-icon clear color="primary" name="person-circle-outline"></ion-icon>
      <ion-label>{{user.Email}}</ion-label>
    
      <ion-button fill="outline" slot="end" (click)="this.logout()" >Salir</ion-button>
    </ion-item>
  
    <ion-card-content clear color="light" >
   {{ 'La Aplicación no cerrara la sesion a menos pulse el boton Salir' | translate}}
    </ion-card-content>
    <ion-item clear color="light"> 
      <ion-icon clear color="secondary" name="moon-outline"></ion-icon>
      <ion-label >{{'Modo Noche' | translate}}</ion-label>
   
      <ion-toggle slot="end" [ngModel]="DarkMode" [checked]="DarkMode" (ionChange)="CambioTema()"></ion-toggle>
     
    </ion-item>


    <ion-item clear color="light"> 
  <ion-icon clear color="primary" name="flashlight-outline"></ion-icon>
      <ion-label >{{ "Activar Linterna" |  translate }}</ion-label>
      <ion-toggle slot="end"  (ionChange)="Linterna($event)"></ion-toggle>
     </ion-item>



     <ion-item clear color="light">
      <ion-label >{{'Lenguaje' | translate}}</ion-label>
      <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss" (ionChange)="changeLang($event)">
        <ion-select-option *ngFor="let lang of langs" [value]="lang">
          {{ lang }}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-card>
  
  <ion-card>
    <ion-item  clear color="light" href="#" class="ion-activated">
      <ion-icon clear color="warning" name="information-circle-outline"></ion-icon>
      <ion-label>{{'Sobre Notea' | translate}}</ion-label>
    </ion-item>
  
    <ion-item clear color="light" href="#">
      <ion-icon clear color="dark" name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>
  
    <ion-item clear color="light" class="ion-activated">
      <ion-icon clear color="danger" name="logo-youtube"></ion-icon>
      <ion-label>Demo Youtube</ion-label>
    </ion-item>
  
    <ion-item clear color="light">
      <ion-icon clear color="dark" name="construct-outline"></ion-icon>
      <ion-label>{{'Configuracíon' | translate}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>