<ion-header>

</ion-header>

<ion-content >
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
  
  </ion-list>
<ion-button  clear color="primary" expand="full" ><ion-icon name="logo-facebook"></ion-icon>Login </ion-button>
 
  

 
  <ion-button clear color="warning" expand="full" (click)="this.login()"> <ion-icon name="logo-google"></ion-icon>     Login whith Google</ion-button>

  
</ion-content>

