<ion-header>
  <ion-toolbar clear color="primary">
    <ion-title>{{'Editar Nota' | translate}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" 
      formControlName="title"
      placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea 
      formControlName="description"
      placeholder="Descripción"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
 
    <div style="text-align: right;">
      
      <ion-button 
      shape="round"
      color="primary"
      fill="outline"
      type="submit"
      [disabled]="!tasks.valid">{{'Guardar Cambios' | translate}}</ion-button>
  </div>
  </form>
</ion-content>